project/SSD/ssd/__pycache__/*
project/SSD/ssd/data/__pycache__/*
project/SSD/ssd/data/datasets/__pycache__/*
project/SSD/ssd/data/datasets/evaluation/__pycache__/*
project/SSD/ssd/data/datasets/mnist_object_detection/__pycache__/*
project/SSD/ssd/config/__pycache__/*
project/SSD/ssd/data/transforms/__pycache__/*
project/SSD/ssd/engine/__pycache__/*
project/SSD/ssd/modeling/__pycache__/*
project/SSD/ssd/modeling/backbone/__pycache__/*
project/SSD/ssd/modeling/box_head/__pycache__/*
project/SSD/ssd/utils/__pycache__/*


*/__pycache__/*
*.pth
*.json
*.swp
project/SSD/ssd/utils/.ipynb_checkpoints/*

project/SSD/datasets/*
outputs/*

.ipynb_checkpoints/*
.vscode/*